<header>
    <link rel="stylesheet" href="~/css/gameboardstyle.css" />
</header>

<html>
    <body>
        <div id="top-message">
            <p id="welcome"></p>

            <p>Time of Last Full Page Refresh: @DateTime.Now</p>
        </div>

        <form>
            <div class="flex-grid">
                @for (int i = 0; i < ViewBag.Size; i++)
                {
                    @for (int j = 0; j < ViewBag.Size; j++)
                    {
                       <div class="flex-box" id="@(String.Format("{0},{1}",i,j))">
                           <button class="unclicked" style="border: thin solid black;" type="submit" value="@(String.Format("{0},{1}",i,j))" name="buttonNumber" asp-controller="Game" asp-action="LeftButtonClick">
                           </button>
                        </div>
                    }
                    @if (i != ViewBag.Size - 1)
                    {
                        <div class="line-break"></div>
                    }
                }
            </div>
        </form>
    <br />
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary new-game-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Choose Game Level</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <button type="button" id="Easy" class="btn btn-primary new-game-button" data-bs-dismiss="modal">Easy</button>
                        <button type="button" id="Advanced" class="btn btn-primary new-game-button" data-bs-dismiss="modal">Advanced</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>