@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/homestyle.css" />
</head>

<div class="text-center text-light">
    <h1 class="display-4">Minesweeper</h1>
    <img src="~/img/Main.jpg" alt="Minesweeper Gameboard" />
    <h4>Please login or create an account</h4>
</div>
